<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="example-sidenav">
    <!--The tooltip overflows the sidenav and when the "timerIntoTooltip" changes the tooltip is hidden in an unwanted way-->
    <p
      [matTooltip]="'overflow tooltip with counter: ' + timerIntoTooltip"
      matTooltipPosition="right"
    >
      Sidenav title
    </p>
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">
    <!--The tooltip doesn't overflow the sidenav component and it keeps visible after updates-->
    <p [matTooltip]="'non overflow tooltip with counter: ' + timerIntoTooltip">
      Sidenav content information
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
